* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5d0fe;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: block;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}